@model MyVet.Web.DATA.Entities.Manager

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro desea eliminar este registro?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
